


@font-face {
    font-family: 'mullerextrabold';
    src: url('../fonts/mullerextrabold.eot');
    src: url('../fonts/mullerextrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mullerextrabold.woff2') format('woff2'),
         url('../fonts/mullerextrabold.woff') format('woff'),
         url('../fonts/mullerextrabold.svg#mullerextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mullermedium';
    src: url('../fonts/mullermedium.eot');
    src: url('../fonts/mullermedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mullermedium.woff2') format('woff2'),
         url('../fonts/mullermedium.woff') format('woff'),
         url('../fonts/mullermedium.svg#mullermedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
