/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset"; 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,900&subset=cyrillic');
@mixin mauto() {
    margin-right: auto;
    margin-left: auto;
}


$medium: 'mullermedium';
$extrabold: 'mullerextrabold';



@mixin h2 {
    font-size: 52px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/*************************** general ***************************/
html, body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    text-decoration: none;
}
textarea:focus, input:focus{
outline: none;
}
#wrapper {
    min-width: 320px;
}
.section {
    width: 1020px;
    @include mauto;
}

.hidden{	opacity:0;	}
.visible{	opacity:1;	}


/*************************** header ***************************/
.nav {
    height: 70px;
    padding-top: 0px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
        
    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(#000, 0.55);
        z-index: 1;
        top: 0;
        left: 0;
    }
    
    &__inner {
        width: 1080px;
        margin: 0 auto;
    }

    .logo {
        float: left;
        z-index: 3;
        width: 20%;
        position: relative;
        font-size: 27px;
        margin-top: 2px;
        font-family: $medium;
        color: #fff;
        line-height: 27px;
        display: inline-block;
        vertical-align: middle;
        span {
            font-size: 44px;
            line-height: 35px;
            font-family: $extrabold;
        }
    }
    .menu {
        margin-top: 13px;
        line-height: 50px;
        width: 70%;
        z-index: 3;
        position: relative;
        float: right;
        .menu__items {
            float: right;
        }
        &__item {
            display: inline-block;
            vertical-align: middle;
            font-size: 17px;
            position: relative;
            margin-right: 30px;
            transition: 0.2s;
            border-bottom: 3px solid transparent;
            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                top: 1px;
                transition: 0.2s;
                border-bottom: 3px solid #fff;
                .menu__link, .menu__link1  {
                    font-weight: 500;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .menu__item__gallery:hover {
            border-color: #00e6b8;
        }
        &__link, .menu__link1 {
            text-decoration: none;
            padding: 4px 0;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
        } 
        .menu__gallery {
            color: #00e6b8;
        }
    }
}
.header {
    position: relative;
    width: 100%;
    height: 1000px;
    position: relative;
    
    .header__slideshow {
        position: relative;
        height: 100%;
        width: 100%;
        .slide_arrow {
            border: none;
            position: absolute;
            width: 15%;
            height: 100%;
            top: 0;
            opacity: .5;
            box-sizing: border-box;
            font-size: 70px;
            color: transparent;
            transition: 0.2s;
            z-index: 10;
            &:hover {
                transition: 0.2s;
                opacity: .8;
                color: #fff;
                cursor: pointer;
                
            }
            &:hover, &:active, &:focus {
                outline: none;
            }
        }
        .slide_prew {
            padding-right: 70px;
            left: 0;
            background: -moz-linear-gradient(left, #000000 0%, transparent 100%); 
            background: -webkit-linear-gradient(left, #000000 0%,transparent 100%); 
            background: linear-gradient(to right, #000000 0%,transparent 100%); 
        }
        .slide_next {
            padding-left: 70px;
            right: 0;
            background: -moz-linear-gradient(right, transparent 0%, #000000 100%); 
            background: -webkit-linear-gradient(right, transparent 0%, #000000 100%); 
            background: linear-gradient(to right, transparent 0%, #000000 100%);
        }
        .header__slide {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 0.7s;
            opacity: 0;
        }
        .showed {
            opacity: 1;
        }
        .slide1 {
            background-image: url(../img/slide1.jpg);
        }
        .slide2 {
            background-image: url(../img/slide2.jpg);
        }
        .slide3 {
            background-image: url(../img/slide3.jpg);
        }
        .slide4 {
            background-image: url(../img/slide4.jpg);
        }
        .slide5 {
            background-image: url(../img/slide5.jpg);
        }
        .slide6 {
            background-image: url(../img/slide6.jpg);
        }
    }
    

}




/*****************************************************************/

.about-me {
    height: 555px;
    display: flex;
    background-color: #291807;
    justify-content: space-between;
    position: relative;
    
    .about-me__info {
        display: inline-block;
        height: 555px;
        position: relative;
        min-width: 49.999%;
        background-color: #291807;
        color: #fff;
        
        .about-me__info__bg {
            background-image: url(../img/fon1.png);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            opacity: .13;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .about-me__info__inner {
            width: 540px;
            padding: 50px;
            position: relative;
            z-index: 3;
            float: right;
            margin-top: 25px;
            h2 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 25px;
            }
            
            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 15px;
            }
            
            p {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
            }
        }
        
    }
    
    .about-me__photo {
        height: 555px;
        min-width: 49.999%;
        background-image: url(../img/about.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
}




/****************************************************/

.service {
    background-color: lightskyblue;
    position: relative;
    
    .service__inner {
        position: relative;
        z-index: 3;
        h2 {
            text-align: center;
            @include h2;
            color: #fefefe;
            margin-bottom: 35px;
            padding-top: 35px;
        }

        .service__items {
            display: flex;
            justify-content: center;

            .service__item {
                margin: 0 20px 50px;
                height: 380px;
                position: relative;
                -webkit-box-shadow: 0 3px 17px 1px rgba(#000, .25);
                -moz-box-shadow: 0 3px 17px 1px rgba(#000, .25);
                box-shadow: 0 3px 17px 1px rgba(#000, .25);
                padding-bottom: 70px;
                box-sizing: border-box;
                overflow: hidden;
                width: 270px;
                div {
                    width: 100%;
                    height: 70px;
                    background-color: #fff;
                    box-sizing: border-box;
                    padding: 20px 5px 10px; 
                    transition: 0.3s;
                    position: absolute;
                    text-align: center;
                    bottom: 0;
                    h4 {
                        font-weight: 500;
                        font-size: 18px;
                        color: #0a9bf5;
                        
                    }
                }
                img {
                   height: 100%;
                   width: 100%;
                   position: relative;
                }
                &:hover div{
                    transition: 0.3s;
                    -webkit-box-shadow: inset 0px -30px 70px -36px rgba(0,0,0,0.53);
                    -moz-box-shadow: inset 0px -30px 70px -36px rgba(0,0,0,0.53);
                    box-shadow: inset 0px -30px 70px -36px rgba(0,0,0,0.53);
                }
            }
        }
    }
    
    &__bg {
        background-image: url(../img/fon2.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: .07;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}





/****************************   portfolio   *********************************/

.portfolio {
    clear: both;
    width: 100%;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 55px;
    background-color: #00e6b8;
    position: relative;
    h2 {
        @include h2;
        color: #fefefe;
        display: block;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    &__items {
        display: -webkit-flex; 
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 35px;
     
        .portfolio__link {
            font-size: 17px;
            padding: 17px 30px;
            font-weight: 300;
            border: 2px solid #fefefe;
            transition: 0.3s;

            &:hover {
                transition: 0.3s;
                background-color: #fefefe;
                
                a {
                    color: #333;
                    transition: 0.3s;
                }
            }
            a { 
                color: #fefefe;
                &:hover {
                    transition: 0.3s;
                }
            }
        }
    }    
    
    .portfolio__show-all {
        font-size: 17px;
        padding: 17px 30px;
        font-weight: 400;
        border: 2px solid #fefefe;
        color: #fefefe;
        display: block;
        width:  230px;
        text-align: center;
        margin: 55px auto 0;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            background-color: #fefefe;
            color: #00e6b8;
            cursor: pointer;
            border-radius: 100px;
            font-weight: 500;
        }
    }
    
    .portfolio__inner {
        position: relative;
        
        .portfolio__photo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            
            img {
                width: 33.33%;
                height: 400px;
                transition: 0.3s;
                filter: sepia(55%);
                
                &:hover {
                    transform: scale(1.15);
                    z-index: 4;
                    transition: 0.3s;
                    filter: sepia(5%);
                }
            }
        }
    }
    
    
    
}



/************************************************************/


.contacts {
    position: relative;
    &__soc{
        position: relative;
        display: flex;
        justify-content: space-around;
        .contacts__soc__item {
            width: 33.33%;
            box-sizing: border-box;
            padding: 45px 0;
            
            a {
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                box-sizing: border-box;
                display: block;
                width: 45%;
                font-size: 20px;
                margin: 0 auto;
                padding: 4% 0;
                color: #fff;
                transition: 0.4s;
                border: 1px solid #fff;
                i {
                    margin-right: 12px;
                }
                &:hover {
                    transition: 0.4s;
                }
            }
        }
         .soc__inst {
            background-color: #ec9c5d;
            a:hover {
                background-color: #fff;
                color: #ec9c5d;
            }
        }
        .soc__fb {
            background-color: #ed8f5c;
            a:hover {
                background-color: #fff;
                color: #ed8f5c;
            }
        }
        .soc__vk {
            background-color: #ec7b5d;
            a:hover {
                background-color: #fff;
                color: #ec7b5d;
            }
        }
    }
    .contacts__map {
        height: 500px;
        width: 100%;
        position: relative;
        
        iframe {
            width: 100%;
            height: 100%;
        }

        .footer {
            background-color: rgba(#000, .7);
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 90px;
            h4{
                text-align: center;
                line-height: 90px;
                font-size: 20px;
                color: #fff;
                font-weight: 300;
                a {
                    font-weight: 500;
                    color: #23c869;
                    font-family: $medium;
                    text-transform: uppercase;
                }
            }
        }
    }    
}
.footer_wrapper {
    position: relative;
    height: 90px;
    .footer {
        background-color: rgba(#000, .7);
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 90px;
        h4{
            text-align: center;
            line-height: 90px;
            font-size: 20px;
            color: #fff;
            font-weight: 300;
            a {
                font-weight: 500;
                color: #23c869;
                font-family: $medium;
                text-transform: uppercase;
            }
        }
    }
}




/****************** gallery img **************************/

.gallery {
    position: relative;
    background: linear-gradient(to top left, powderblue, #66cdaa);
    padding: 100px 20px 50px;
    box-sizing: border-box;
    .gallery__photo {
        .gallery__item {
            display: none;
            width: 22%;
            margin: 0 1.4% 30px;
            box-shadow: 0 2px 9px 1px rgba(#000, .5);
            position: relative;
            
            &:hover {
                transition: 0.3s;
                transform: translateY(-17px);
            }
        }
    }
    .show_more{
        font-size: 17px;
        padding: 17px 30px;
        font-weight: 400;
        border: 2px solid #fefefe;
        color: #fefefe;
        display: block;
        width:  230px;
        text-align: center;
        margin: 55px auto 0;
        transition: 0.3s;
        &:hover {
            transition: 0.3s;
            cursor: pointer;
            background-color: #fefefe;
            color: #66cdaa;
            border-radius: 100px;
            font-weight: 500;
        }
    }
}