html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*************************** general ***************************/
html, body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

textarea:focus, input:focus {
  outline: none;
}

#wrapper {
  min-width: 320px;
}

.section {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

/*************************** header ***************************/
.nav {
  height: 70px;
  padding-top: 0px;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
}
.nav__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
  top: 0;
  left: 0;
}
.nav__inner {
  width: 1080px;
  margin: 0 auto;
}
.nav .logo {
  float: left;
  z-index: 3;
  width: 20%;
  position: relative;
  font-size: 27px;
  margin-top: 2px;
  font-family: "mullermedium";
  color: #fff;
  line-height: 27px;
  display: inline-block;
  vertical-align: middle;
}
.nav .logo span {
  font-size: 44px;
  line-height: 35px;
  font-family: "mullerextrabold";
}
.nav .menu {
  margin-top: 13px;
  line-height: 50px;
  width: 70%;
  z-index: 3;
  position: relative;
  float: right;
}
.nav .menu .menu__items {
  float: right;
}
.nav .menu__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 17px;
  position: relative;
  margin-right: 30px;
  transition: 0.2s;
  border-bottom: 3px solid transparent;
}
.nav .menu__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  top: 1px;
  transition: 0.2s;
  border-bottom: 3px solid #fff;
}
.nav .menu__item:hover .menu__link, .nav .menu__item:hover .menu__link1 {
  font-weight: 500;
}
.nav .menu__item:last-child {
  margin-right: 0;
}
.nav .menu .menu__item__gallery:hover {
  border-color: #00e6b8;
}
.nav .menu__link, .nav .menu .menu__link1 {
  text-decoration: none;
  padding: 4px 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.nav .menu .menu__gallery {
  color: #00e6b8;
}

.header {
  position: relative;
  width: 100%;
  height: 1000px;
  position: relative;
}
.header .header__slideshow {
  position: relative;
  height: 100%;
  width: 100%;
}
.header .header__slideshow .slide_arrow {
  border: none;
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  opacity: .5;
  box-sizing: border-box;
  font-size: 70px;
  color: transparent;
  transition: 0.2s;
  z-index: 10;
}
.header .header__slideshow .slide_arrow:hover {
  transition: 0.2s;
  opacity: .8;
  color: #fff;
  cursor: pointer;
}
.header .header__slideshow .slide_arrow:hover, .header .header__slideshow .slide_arrow:active, .header .header__slideshow .slide_arrow:focus {
  outline: none;
}
.header .header__slideshow .slide_prew {
  padding-right: 70px;
  left: 0;
  background: -moz-linear-gradient(left, #000000 0%, transparent 100%);
  background: -webkit-linear-gradient(left, #000000 0%, transparent 100%);
  background: linear-gradient(to right, #000000 0%, transparent 100%);
}
.header .header__slideshow .slide_next {
  padding-left: 70px;
  right: 0;
  background: -moz-linear-gradient(right, transparent 0%, #000000 100%);
  background: -webkit-linear-gradient(right, transparent 0%, #000000 100%);
  background: linear-gradient(to right, transparent 0%, #000000 100%);
}
.header .header__slideshow .header__slide {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.7s;
  opacity: 0;
}
.header .header__slideshow .showed {
  opacity: 1;
}
.header .header__slideshow .slide1 {
  background-image: url(../img/slide1.jpg);
}
.header .header__slideshow .slide2 {
  background-image: url(../img/slide2.jpg);
}
.header .header__slideshow .slide3 {
  background-image: url(../img/slide3.jpg);
}
.header .header__slideshow .slide4 {
  background-image: url(../img/slide4.jpg);
}
.header .header__slideshow .slide5 {
  background-image: url(../img/slide5.jpg);
}
.header .header__slideshow .slide6 {
  background-image: url(../img/slide6.jpg);
}

/*****************************************************************/
.about-me {
  height: 555px;
  display: flex;
  background-color: #291807;
  justify-content: space-between;
  position: relative;
}
.about-me .about-me__info {
  display: inline-block;
  height: 555px;
  position: relative;
  min-width: 49.999%;
  background-color: #291807;
  color: #fff;
}
.about-me .about-me__info .about-me__info__bg {
  background-image: url(../img/fon1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: .13;
  position: absolute;
  width: 100%;
  height: 100%;
}
.about-me .about-me__info .about-me__info__inner {
  width: 540px;
  padding: 50px;
  position: relative;
  z-index: 3;
  float: right;
  margin-top: 25px;
}
.about-me .about-me__info .about-me__info__inner h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}
.about-me .about-me__info .about-me__info__inner h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.about-me .about-me__info .about-me__info__inner p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}
.about-me .about-me__photo {
  height: 555px;
  min-width: 49.999%;
  background-image: url(../img/about.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/****************************************************/
.service {
  background-color: lightskyblue;
  position: relative;
}
.service .service__inner {
  position: relative;
  z-index: 3;
}
.service .service__inner h2 {
  text-align: center;
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fefefe;
  margin-bottom: 35px;
  padding-top: 35px;
}
.service .service__inner .service__items {
  display: flex;
  justify-content: center;
}
.service .service__inner .service__items .service__item {
  margin: 0 20px 50px;
  height: 380px;
  position: relative;
  -webkit-box-shadow: 0 3px 17px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 17px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 17px 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 70px;
  box-sizing: border-box;
  overflow: hidden;
  width: 270px;
}
.service .service__inner .service__items .service__item div {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px 5px 10px;
  transition: 0.3s;
  position: absolute;
  text-align: center;
  bottom: 0;
}
.service .service__inner .service__items .service__item div h4 {
  font-weight: 500;
  font-size: 18px;
  color: #0a9bf5;
}
.service .service__inner .service__items .service__item img {
  height: 100%;
  width: 100%;
  position: relative;
}
.service .service__inner .service__items .service__item:hover div {
  transition: 0.3s;
  -webkit-box-shadow: inset 0px -30px 70px -36px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: inset 0px -30px 70px -36px rgba(0, 0, 0, 0.53);
  box-shadow: inset 0px -30px 70px -36px rgba(0, 0, 0, 0.53);
}
.service__bg {
  background-image: url(../img/fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: .08;
  position: absolute;
  width: 100%;
  height: 100%;
}

/****************************   portfolio   *********************************/
.portfolio {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 55px;
  background-color: #00e6b8;
  position: relative;
}
.portfolio h2 {
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fefefe;
  display: block;
  margin-top: 15px;
  margin-bottom: 40px;
}
.portfolio__items {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 35px;
}
.portfolio__items .portfolio__link {
  font-size: 17px;
  padding: 17px 30px;
  font-weight: 300;
  border: 2px solid #fefefe;
  transition: 0.3s;
}
.portfolio__items .portfolio__link:hover {
  transition: 0.3s;
  background-color: #fefefe;
}
.portfolio__items .portfolio__link:hover a {
  color: #333;
  transition: 0.3s;
}
.portfolio__items .portfolio__link a {
  color: #fefefe;
}
.portfolio__items .portfolio__link a:hover {
  transition: 0.3s;
}
.portfolio .portfolio__show-all {
  font-size: 17px;
  padding: 17px 30px;
  font-weight: 400;
  border: 2px solid #fefefe;
  color: #fefefe;
  display: block;
  width: 230px;
  text-align: center;
  margin: 55px auto 0;
  transition: 0.3s;
}
.portfolio .portfolio__show-all:hover {
  transition: 0.3s;
  background-color: #fefefe;
  color: #00e6b8;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
}
.portfolio .portfolio__inner {
  position: relative;
}
.portfolio .portfolio__inner .portfolio__photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.portfolio .portfolio__inner .portfolio__photo img {
  width: 33.33%;
  height: 400px;
  transition: 0.3s;
  filter: sepia(55%);
}
.portfolio .portfolio__inner .portfolio__photo img:hover {
  transform: scale(1.15);
  z-index: 4;
  transition: 0.3s;
  filter: sepia(5%);
}

/************************************************************/
.video {
  position: relative;
  box-sizing: border-box;
  background-color: #a29bfe;
  padding: 30px;
}
.video__bg {
  background-image: url(../img/fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: .09;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video h2 {
  font-size: 52px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fefefe;
  display: block;
  margin-top: 15px;
  z-index: 2;
  position: relative;
  margin-bottom: 40px;
}
.video h2 a {
  transition: 0.2s;
  color: #c4302b;
}
.video h2 a:hover {
  transition: 0.2s;
  text-shadow: 1px 2px 7px rgba(196, 48, 43, 0.49);
}
.video__items {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 2;
}
.video__items .video__item {
  margin: 10px;
  height: 0;
  padding-bottom: 16.9%;
  position: relative;
  width: 30%;
}
.video__items .video__item iframe {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/************************************************************/
.contacts {
  position: relative;
}
.contacts__soc {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.contacts__soc .contacts__soc__item {
  width: 33.33%;
  box-sizing: border-box;
  padding: 45px 0;
}
.contacts__soc .contacts__soc__item a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 45%;
  font-size: 20px;
  margin: 0 auto;
  padding: 4% 0;
  color: #fff;
  transition: 0.4s;
  border: 1px solid #fff;
}
.contacts__soc .contacts__soc__item a i {
  margin-right: 12px;
}
.contacts__soc .contacts__soc__item a:hover {
  transition: 0.4s;
}
.contacts__soc .soc__inst {
  background-color: #ec9c5d;
}
.contacts__soc .soc__inst a:hover {
  background-color: #fff;
  color: #ec9c5d;
}
.contacts__soc .soc__fb {
  background-color: #ed8f5c;
}
.contacts__soc .soc__fb a:hover {
  background-color: #fff;
  color: #ed8f5c;
}
.contacts__soc .soc__vk {
  background-color: #ec7b5d;
}
.contacts__soc .soc__vk a:hover {
  background-color: #fff;
  color: #ec7b5d;
}
.contacts .contacts__map {
  height: 500px;
  width: 100%;
  position: relative;
}
.contacts .contacts__map iframe {
  width: 100%;
  height: 100%;
}
.contacts .contacts__map .footer {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 90px;
}
.contacts .contacts__map .footer h4 {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.contacts .contacts__map .footer h4 a {
  font-weight: 500;
  color: #23c869;
  font-family: "mullermedium";
  text-transform: uppercase;
}

.footer_wrapper {
  position: relative;
  height: 90px;
}
.footer_wrapper .footer {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 90px;
}
.footer_wrapper .footer h4 {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}
.footer_wrapper .footer h4 a {
  font-weight: 500;
  color: #23c869;
  font-family: "mullermedium";
  text-transform: uppercase;
}

/****************** gallery img **************************/
.gallery {
  position: relative;
  background: linear-gradient(to top left, powderblue, #66cdaa);
  padding: 100px 20px 50px;
  box-sizing: border-box;
}
.gallery .gallery__text {
  font-size: 25px;
  padding: 0 5%;
  box-sizing: border-box;
  color: #e55039;
  font-weight: 500;
  text-align: center;
  margin: 20px auto;
}
.gallery .gallery__photo {
  overflow: hidden;
}
.gallery .gallery__photo .gallery__item {
  display: block;
  width: 22%;
  margin: 17px 1.4% 15px;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.5);
  position: relative;
}
.gallery .gallery__photo .gallery__item:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(-17px);
}
.gallery .gallery__photo #first_photo {
  box-shadow: none;
  width: 0;
  margin: 0 0.01%;
}
.gallery ul {
  display: flex;
  justify-content: center;
}
.gallery ul .gallery__link {
  padding: 17px 30px;
  border: 2px solid #fefefe;
  display: block;
  width: 245px;
  text-align: center;
  margin: 35px 2%;
  transition: 0.5s;
}
.gallery ul .gallery__link a {
  color: #fefefe;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 400;
}
.gallery ul .gallery__link:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100px;
}
.gallery ul .gallery__link:hover a {
  transition: 0.5s;
  font-weight: 500;
  color: #66cdaa;
}
.gallery ul .galley_active {
  background-color: #fefefe;
  border-radius: 100px;
  transition: 0.5s;
}
.gallery ul .galley_active a {
  color: #00cec9;
  font-weight: 500;
}
.gallery .show_more {
  font-size: 17px;
  padding: 17px 30px;
  font-weight: 400;
  border: 2px solid #fefefe;
  color: #fefefe;
  display: block;
  width: 230px;
  text-align: center;
  margin: 55px auto 0;
  transition: 0.3s;
}
.gallery .show_more:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #fefefe;
  color: #66cdaa;
  border-radius: 100px;
  font-weight: 500;
}

.wrapper__gallery .modal {
  display: none;
  width: 90%;
  height: 90%;
  overflow: hidden;
  position: fixed;
  left: 5%;
  top: 5%;
  z-index: 101;
  align-items: center;
  justify-content: center;
}
.wrapper__gallery .overlay {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hideen;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.wrapper__gallery .open {
  display: flex;
}
.wrapper__gallery progress {
  position: fixed;
  left: 0;
  top: 65px;
  width: 100%;
  z-index: 10;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: #ec9c5d;
}
.wrapper__gallery progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}
.wrapper__gallery progress::-webkit-progress-value {
  background: #ec9c5d;
  border-radius: 5px;
}
.wrapper__gallery progress::-moz-progress-bar {
  background: #ec9c5d;
  border-radius: 5px;
}
.wrapper__gallery .progress-container {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  display: block;
}
.wrapper__gallery .progress-bar {
  background: #ec9c5d;
  width: 0%;
  display: block;
  height: inherit;
}
